h2 {
  color: black;
}

h1 {color: white;
}

div.relative {
  position: relative;
  bottom: -380px;
  left: 520px;
}

div.textarea {
  position: relative;
  bottom: -100px;
  left: 20px;}

  p.sansserif {
    font-family: Arial, Helvetica, sans-serif;}


    div.TEXT2 {
      position: relative;
      bottom:100px;
      left: 900px;}

body {
  background-image: url("rende_1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;}

div.buttonBOY{position: relative;
bottom: -1120px;
left: 545px;}


rende_1.gif {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;}

  function myFunction(1) {
  var x = tempLC.css("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
